SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ pillar['network']['lan']['mac_address'] }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="lan"

SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ pillar['network']['wan']['mac_address'] }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="wan"
